{% extends "index.html" %}

{% block title %}Privacy Notice{% endblock %}
{% block content %}
<div class="container my-5">
            <div class="my-2">
            <h2><b> LocalShop Privacy Notice </b></h2>
            <hr />
            <div>
                <p>
                    We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how LocalShop Seller Services Private Limited and its affiliates including LocalShop.com, Inc. (collectively "LocalShop") collect and process your personal information through LocalShop websites, devices, products, services, online marketplace and applications that reference this Privacy Notice (together "LocalShop Services").
                </p>
                <p>
                    By using LocalShop Services you agree to our use of your personal information (including sensitive personal information) in accordance with this Privacy Notice, as may be amended from time to time by us at our discretion. You also agree and consent to us collecting, storing, processing, transferring, and sharing your personal information (including sensitive personal information) with third parties or service providers for the purposes set out in this Privacy Notice.
                </p>
                <p>
                    Personal information subject to this Privacy Notice will be collected and retained by LocalShop, with a registered office at 8th floor, Brigade Gateway 26/1 Dr. Rajkumar Road Bangalore Karnataka 560055 India.
                </p>
            </div>
            <div>
                <h4>What Personal Information About Customers Does LocalShop Collect?</h4>
                <p>
                    We collect your personal information in order to provide and continually improve our products and services.
                </p>
                <p>
                    <strong>Information You Give Us: </strong> We receive and store any information you provide in relation to LocalShop Services. Click here to see examples of what we collect. You can choose not to provide certain information, but then you might not be able to take advantage of many of our LocalShop Services.
                </p>
                <p>
                    <strong>Automatic Information: </strong>We automatically collect and store certain types of information about your use of LocalShop Services, including information about your interaction with content and services available through LocalShop Services. Like many websites, we use cookies and other unique identifiers, and we obtain certain types of information when your web browser or device accesses LocalShop Services and other content served by or on behalf of LocalShop on other websites.
                </p>
                <p>
                    <strong>Information from Other Sources: </strong>We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more easily.
                </p>
            </div>
            <div>
                <h4>For What Purposes Does LocalShop Use Your Personal Information? </h4>
                <p>
                    We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:
                </p>
                <ul>
                    <li><strong>Purchase and delivery of products and services.</strong>
                        <p>
                            We use your personal information to take and fulfill orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.
                        </p>
                    </li>
                    <li><strong>Provide, troubleshoot, and improve LocalShop Services. </strong><p>
                        We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the LocalShop Services.
                    </p>
                    </li>
                    <li><p>
                        Recommendations and personalization. We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with LocalShop Services.
                    </p>
                    </li>
                    <li><strong>Communicate with you.</strong><p>
                        We use your personal information to communicate with you in relation to LocalShop Services via different channels (e.g., by phone, e-mail, chat).
                    </p>
                    </li>
                    <li><strong>Advertising. </strong><p>
                        We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. We do not use information that personally identifies you to display interest-based ads.
                    </p>
                    </li>
                    <li><strong>Fraud Prevention</strong><p>
                        We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, LocalShop, and others. We may also use scoring methods to assess and manage credit risks.
                    </p>
                    </li>
                </ul>
            </div>
            <div>
                <h5>What About Cookies and Other Identifiers?</h5>
                <ul>
                    <li><p>
                        To enable our systems to recognize your browser or device and to provide and improve LocalShop Services, we use cookies and other identifiers.
                    </p>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Does LocalShop Share Your Personal Information? </h5>
                <p>
                    Information about our customers is an important part of our business and we are not in the business of selling our customers’ personal information to others. We share customers’ personal information only as described below and with LocalShop.com, Inc. and subsidiaries that LocalShop.com, Inc. controls that either are subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice.
                </p>
            </div>
            <div>
                <h5>How Secure Is Information About Me? </h5>
                <p>
                    We design our systems with your security and privacy in mind.
                </p>
                <ul>
                    <li><p>
                        We work to protect the security of your personal information during transmission by using encryption protocols and software.
                    </p>
                    </li>
                    <li><p>
                        We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, processing, and disclosure of personal customer information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.
                    </p>
                    </li>
                    <li><p>
                        Our devices offer security features to protect them against unauthorized access and loss of data. You can control these features and configure them based on your needs.
                    </p>
                    </li>
                    <li><p>
                        It is important for you to protect against unauthorized access to your password and to your computers, devices and applications. Be sure to sign off when finished using a shared computer.
                    </p>
                    </li>
                </ul>
            </div>
            <div>
                <h5>What About Advertising?</h5>
                <p>
                    We provide ad companies with information that allows them to serve you with more useful and relevant LocalShop ads and to measure their effectiveness. We never share your name or other information that directly identifies you when we do this. Instead, we use an advertising identifier like a cookie, a device identifier, or a code derived from applying irreversible cryptography to other information like an email address. For example, if you have already downloaded one of our apps, we will share your advertising identifier and data about that event so that you will not be served an ad to download the app again. Some ad companies also use this information to serve you relevant ads from other advertisers.
                </p>
            </div>
        </div>
</div>
{% endblock %}
